@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    width: 13px;
    background: var(--secondary);
    border-left: 0px solid var(--tertiary);
    border-right: 0px solid var(--tertiary);
}
::-webkit-scrollbar-thumb{
    background: var(--primary);
    width: 0%;
    height: 35%;
    transition: 0.5 ease;
    cursor:pointer;
    border-radius: 12px;
}
:root{
    --primary:#e67;
    --secondary:#fff;
    --tertiary:#fd1;
    --quartenary:black;
}
body{
    background:plum;
    font-family: "poppins",sans-serif;
    /* background: -webkit-linear-gradient(to right, #EF629F, plum);   */
    /* background: linear-gradient(to right,  plum,#EF629F);  */
    /* font-family: 'Lato',sans-serif,Georgia, 'Times New Roman', Times, serif; */
}
html{
    font-size: 16px;
}
/* navbar */
.Home{
    width: 100vw;
    height: 100vh;
}
.Home .nav{
    top: 0%;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: var(--secondary);
    /* background: plum; */
}
.Home .navelment{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
}
.Home .navelment .Logo img{
    width: 4.5rem;
    height: 4rem;
}
.Home .navelment ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.Home .navelment ul li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1.1rem;
}
.Home .navelment ul .Button button{
    padding: 10px 12px;
    font-size: 1.2rem;
    color: var(--secondary);
    font-weight: 500;
    background: plum;
    /* border-radius: 1rem; */
    outline:none;
    border: 1px solid black;
    transition: 0.2s all ease-in-out;
}
.Home .navelment ul .Button button:hover{
    transform: scale(1.05);
}
.hover{
    display: inline-block;
    position: relative;
}
.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: plum;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.Home .homecontent{
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home .homecontent .cont1 img{
    width: 40vw;
}
.Home .homecontent .cont2{
    width: 40vw;
    padding: 1.5rem;
    color: var(--secondary);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 36px;
    backdrop-filter: blur(10px);
}
.Home .homecontent .cont2 h2{
    font-size: 2rem;
    font-weight: 200;
}
.Home .homecontent .cont2 p{
    line-height: 1.6rem;
}
