@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: var(--secondary);
  border-left: 0px solid var(--tertiary);
  border-right: 0px solid var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--Purple);
  width: 0%;
  height: 35%;
  transition: 0.5 ease;
  cursor: pointer;
  border-radius: 12px;
}

:root {
  --primary: #e67;
  --secondary: #fff;
  --tertiary: #fd1;
  --quartenary: black;
  --Turquoise: #4cbfa6;
  --SoftLilac: #f6ebf4;
  --Purple: #482673;
  --Orchid: #ed0b70;
  --Digi-Denim: #301008;
}

body {
  background: var(--SoftLilac);
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* back */
.back {
  z-index: -200;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f4acab 50%, yellow 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}



@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}
.loader{
  width: 100vw;
  height: 100vh;
  /* background: black url(https://media.giphy.com/media/smzfl3E7a4iHK/giphy.gif) center; */
  position: fixed;
  z-index: 1000;
}
/* back */
/* navbar */
.Home {
  width: 100vw;
  height: 100vh;
}

.Home .nav {
  top: 0%;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  color: var(--Orchid);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  /* border-radius: 36px; */
  backdrop-filter: blur(10px);
}

.Home .navelment {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home .navelment .Logo img {
  width: 4.5rem;
  height: 4rem;
}

.Home .navelment ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Home .navelment ul li {
  list-style: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.Home .navelment ul .Button button {
  padding: 10px 12px;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: 450;
  background: var(--Orchid);
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid black;
  transition: 0.2s all ease-in-out;

}

/* CSS */
.Home .navelment ul li:nth-child(5) {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .navelment ul li a {
  color: #fff;
  text-decoration: none;
}

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Contact us';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.Home .navelment ul .Button button:hover {
  transform: scale(1.05);
}

.hover {
  display: inline-block;
  position: relative;
}

.hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: plum;
  transform-origin: bottom right;
  transition: all 0.25s ease-out;
}

.hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Home .homecontent {
  width: 100vw;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .homecontent .cont1 img {
  width: 40vw;
}

.Home .homecontent .cont2 {
  width: 40vw;
  padding: 1.5rem;
  color: var(--Purple);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 36px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--Orchid);
}

.Home .homecontent .cont2 h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.Home .homecontent .cont2 h2 span {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #A7489B 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 3.2rem;
}

.Home .homecontent .cont2 p {
  line-height: 1.6rem;
}

/* goals */
.Goals {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primary); */
}

.Goals .main {
  display: flex;
  flex-direction: row;
  /* width: 80vw; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.Goals h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--Purple);
}

.Goals h2 span {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #A7489B 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 3.2rem;
}

.Goals .main .cards .img {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--Purple);
}

.Goals .main .cards .img img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Goals .main .cards .img .lotpic {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Goals .main .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 500px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  transition: 0.5s ease;
  border: 1px solid var(--Orchid);
}

.Goals .main .cards:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.Goals .main .cards .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Goals .main .cards .info h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Purple);
}

.Goals .main .cards .info p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  color: var(--Purple);
}



/* Spotify */
.spotifysection {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.spotifysection h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.spotifysection .head2 {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #A7489B 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 3.2rem;
}

.spotifysection {
  /* background: linear-gradient(10deg,#af590d, #181818) ; */
  /* filter: brightness(105%); */
  /* opacity: 80%; */
  padding: 2rem;

  /* opacity: 0.5; */

}

.spotifysection h2 {
  color: #fff;
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  /* font-size: 3.2rem; */
}

.SpotifyBox {
  max-width: 85vw;
  margin: 1rem 0;
  padding: 1rem;

  border: 1px solid var(--Orchid);
}

.SpotifyBox .upper {
  min-height: 30vh;
  display: flex;
}

.SpotifyBox {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 36px;
  backdrop-filter: blur(10px);
  padding: 1rem;
}

.SpotifyBox .upper .head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

}

.SpotifyBox .upper .head h2 {
  font-weight: 600;
  font-size: 4.4rem;
}

.SpotifyBox .upper .head p {
  /* color: #fff; */
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Purple);
}

.SpotifyBox .lower {

  padding: 2rem;
}

.spotifysection .SpotifyBox .lower p {
  /* color: #fff; */
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Purple);
}

.SpotifyBox .upper .head i {
  color: #5d6;
  font-size: 4rem;
  /* background-color: black; */
  /* padding: 0.2rem; */
  /* border: 1px solid black; */
  border-radius: 4rem;
  background-color: inherit;
}

footer {
  background-color: var(--quartenary);
  color: var(--SoftLilac);
  width: 100vw;
  height: 8vh;
  font-size: 1.1rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .Home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Home .nav {
    display: none;
  }

  .Home .homecontent {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .Home .homecontent .cont2 {
    margin: 2rem 0;
    width: 85vw;
    text-align: left;
    font-size: 0.8rem;
  }

  .Home .homecontent .cont2 h2 {
    font-size: 1.2rem;
  }

  .Home .homecontent .cont2 h2 span {
    font-size: 1.8rem;
  }

  .Home .homecontent::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 41% 59% / 68% 0% 100% 32%;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    top: 20%;
    left: 40%;
    z-index: -6;
  }

  .Goals {
    height: auto;
  }

  .Goals h2 {
    font-size: 1.2rem;
  }

  .Goals h2 span {
    font-size: 1.8rem;
  }

  .Home .homecontent {
    /* margin: auto; */
  }

  .Home .homecontent .cont2 p {
    font-size: 11px;
  }

  .SpotifyBox {
    height: auto;
    max-width: 80vw;
  }

  .SpotifyBox .upper {
    display: flex;
    height: auto;
    flex-direction: column;
    max-width: 80vw;
    /* justify-content: center;
    align-items: center; */
  }

  .SpotifyBox .upper .head {
    padding: 1rem;
  }

  .SpotifyBox .upper .head h2 {
    font-size: 2.4rem;
  }

  .SpotifyBox .lower p {
    font-size: 1rem !important;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-word;

  }
}