@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'lato',sans-serif,Arial, Helvetica;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(red, orange, yellow, green, blue,violet);
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 50.71%),
                linear-gradient(217deg, rgba(255,165,0,.8), rgba(255,0,0,0) 50.71%),
                linear-gradient(127deg, rgba(255,255,0,.8), rgba(0,255,0,0) 50.71%),
                linear-gradient(336deg, rgba(0,128,0,.8), rgba(0,0,255,0) 50.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 50.71%),
                linear-gradient(336deg, rgba(238,130,238,.8), rgba(0,0,255,0) 50.71%);
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
section img#moon{
    top: -100%;
    left: 45%;
    width: 6rem;
    /* mix-blend-mode: screen; */
}
section img#stars{
    top: -100%;
    height: 100%;
    object-fit: cover;
}
section img#mountains_behind{
bottom: -100%;
height: 100vh;
width: 100vw;
top: initial;

}
section img#mountains_front{
    display: none;
    opacity: hidden;
    bottom: -100%;
    left: 10%;
    width: 12rem;
    top: initial;
    z-index: -100;
}
#text{
    position: absolute;
    color: rgb(177, 23, 207);
    font-size: 2vw;
    font-weight: 200;
    margin-right: 2000px;
}
#text span{
    font-weight: 700;
}
#btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 50px;
    background: white;
    border-radius: 40px;
    font-size: 1.4rem;
    color: plum;
    z-index: 2000;
}